:root.light-theme {
    --background-color: #f5efff;
    --text-color: #2e073f;
    --header-bg-color: #dfd8eb;
    --border-color: #f5efff;
    --border-color-hover: #cdc1ff;
    --border-color-click: #a594f9;
}
  
:root.dark-theme {
    --background-color: #3b1e54;
    --text-color: #eeeeee;
    --header-bg-color: #4d2c6a;
    --border-color: #9b7ebd;
    --border-color-hover: #d4bee4;
    --border-color-click: #eeeeee;
}
  
body {
    background-color: var(--background-color);
    font-family: 'DM Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
  
header {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
  
button {
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
}

input {
    display: inline-block;
    cursor: text;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 4px;
    color: var(--text-color);
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
}

input:hover {
    border-color: var(--border-color-hover);
}

input:active {
    border-color: var(--border-color-click);
}

.icon {
    color: var(--text-color);
}

header .header-container {
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    padding: 10px;
}

header .logo {
    flex: 1; 
    margin: 0 10px; 
    text-align: left;
    color: var(--text-color);
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
}

header .search-area {
    flex: 2;
    text-align: center;
    color: var(--text-color);
}

header .right-container {
    flex: 1; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin: 0 10px;
}

header .theme-toggle,
header .profile {
    cursor: pointer;
}